{% extends 'base.html' %}


{% block head_title %}Pricing - {{ block.super }}{% endblock head_title %}


{% block content %}
{% for section in sections %}
<section class="bg-white dark:bg-gray-900">
    <div class="flex flex-col md:flex-row items-center gap-8 py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">

        {% if loop.index0 % 2 == 0 %}
        <!-- Imagen a la derecha -->
        <div class="md:w-1/2 order-last md:order-last">
            <img class="w-full dark:hidden" src="{{ section.img_light }}" alt="dashboard image">
            <img class="w-full hidden dark:block" src="{{ section.img_dark }}" alt="dashboard image">
        </div>
        <div class="mt-4 md:mt-0 md:w-1/2">
        {% else %}
        <!-- Imagen a la izquierda -->
        <div class="md:w-1/2">
            <img class="w-full dark:hidden" src="{{ section.img_light }}" alt="dashboard image">
            <img class="w-full hidden dark:block" src="{{ section.img_dark }}" alt="dashboard image">
        </div>
        <div class="mt-4 md:mt-0 md:w-1/2">
        {% endif %}

            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ section.title }}</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">{{ section.text }}</p>

            <div class="flex flex-wrap gap-4">
                <a href="{{ section.btn_secondary.href }}" class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path>
                    </svg>
                    {{ section.btn_secondary.text }}
                </a>

                <a href="{{ section.btn_primary.href }}" class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
                    {{ section.btn_primary.text }}
                    <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock content %}



